.container-fluid
  .row
    %main.col-sm-9.ml-sm-auto.col-md-10.pt-3{:role => "main"}
      %h1 Dashboard
      %section.row.text-center.placeholders
        .col-6.col-sm-3.placeholder
          %h4 Tenants
          .text-muted 
            = @tenants.count
        .col-6.col-sm-3.placeholder
          %h4 Users
          .text-muted 
            =  @questions.map(&:user).flatten.count
        .col-6.col-sm-3.placeholder
          %h4 Questions
          .text-muted 
            = @questions.count
        .col-6.col-sm-3.placeholder
          %h4 Answers
          .text-muted 
            = @questions.map(&:answers).flatten.count
      %h2 Tenants Detail
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th #
              %th Name
              %th Total Api Request
          %tbody
            - @tenants.each do |tenant|
              %tr
                %td #
                %td 
                  = tenant.name
                %td 
                  = tenant.total_requests
                